:root {
  --bgcolor: #353a40;
  --textcolor: white;
  --bgbotton: #409b56;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.navbar {
  background-color: var(--bgcolor);
  color: var(--textcolor);
  padding: 0 10rem;

  & img {
    height: 8vh;
  }

  .active {
    color: white;
  }

  & a {
    color: #949e9f;
  }

  & a:hover {
    color: var(--textcolor);
  }

  .btn-ticket {
    color: var(--bgbotton);
  }
}

.container-carousel {
  & img {
    filter: brightness(50%);
    height: 20rem;
    min-height: 80vh;
  }
}

.carousel-caption {
  bottom: 5rem;
  left: 44%;
  width: 40%;
  & p {
    font-size: 1.2em;
  }
}

@media (max-width: 565px) {
  .carousel-caption {
    position: absolute;
    bottom: 1.25rem;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 80%;
  }
  .text-end {
    text-align: center !important;
  }
}

.titulo-gral {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}

.titulo-gral span {
  display: block;
  font-weight: 700;
  font-size: 2.2rem;
}

.row-cols-md-3>* {
  flex: 0 0 auto;
  width: 25%;

  & span {
    font-size: .8em;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .row-cols-md-3>* {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .row-cols-md-3>* {
    width: 100%;
  }
}

.container-lugares {
  margin-top: 1rem;
  display: grid;
  grid-template-areas: 'img content';
  grid-template-columns: auto 50%;

  & img {
    grid-area: img;
    width: 100%;
  }

  & div {
    grid-area: content;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    padding: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
  }

  & input {
    margin-top: 1rem;
    font-size: 1em;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: transparent;
    color: var(--textcolor);
    border: solid 1px white;
  }
}

@media (max-width: 1050px) {
  .container-lugares {
    display: block;
  }

}


.container-form {
  font-size: 1rem;
  display: flex;
  justify-content: center;

  & p {
    text-align: center;
  }

  & p span {
    text-decoration: dotted;
  }

  .container-asd {
    width: 50%;

  }

  .datos {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  & input {
    width: 47%;
    font-size: 1em;
    padding: 0.5rem;
    border: solid 0.1px #d2d3d5;
    border-radius: 5px;
  }

  & textarea {
    font-size: 1.5em;
    width: 100%;
    height: 25vh;
    border-radius: 5px;
    padding: 1rem 0 0 1rem;
    border-color: #d2d3d5;
  }

  .btn {
    width: 100%;
    background-color: #96c93e;
    color: var(--textcolor);
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.5rem 0;
    margin: 1rem 0;
  }

}

@media (max-width: 768px) {
  .container-form .container-asd {
    display: block;
    width: 95%;

    .datos {
      flex-flow: column nowrap;
    }

    & input {
      width: 100%;
    }
  }

}

footer {
  background: #0F2027;
  background: -webkit-linear-gradient(to left, #1e5372, #1e445b, #1c3643);
  background: linear-gradient(to left, #1e5372, #1e445b, #1c3643);
  text-align: center;
  height: 100%;
  padding: 1.5rem;
  & a {
    color: var(--textcolor) !important;
  }
  
}